/* NAVBAR */

.navbar{
    display: grid;
    grid-template-columns: 7% 13% 80%;
    background-color: rgba(12, 12, 12, 0.8); /* Preto com transparência */
    backdrop-filter: blur(10px);
    padding: 0.5%;
    font-family: 'fonte_padrao_01';
}
.navbar-nav{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;  
    align-items: center;
    width: 100%;
    margin: 0% 1%;
    padding: 0%;
}
.navbar-toggler{
    margin: 20%;
    padding: 0%;
    border-style: none !important;
}
.nav-brand{
    margin: 0% 1%;
    padding: 5%;
}
#nav-title{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#nav-title_conteudo_1{
    margin: 0% 1%;
    padding: 0%;
    text-align: center;
    color: white;
    font-size: large;
}
#nav-title_conteudo_2{
    margin: 0% 1%;
    padding: 0%;
    text-align: center;
    color: white;
    font-family: 'fonte_manuscrito_01';
}

/* MAIN */
main{
    font-family: 'fonte_padrao_01';
}
.section_intro{
    height: 100vh;
    padding: 4%;
    background-color: #e1e1e1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}
.section_intro > article{
    width: 60%;
    padding: 5%;
    padding-top: 15%;
    margin: auto;
    font-size: 3vw;
    text-align: center; 
}
.section_conteudo{
    height: 100vh;
    padding: 4%;
    padding-bottom: 50%;
    background: linear-gradient(to bottom, white, #e1e1e1);
}
.section_conteudo article{
    width: 100%;
    padding: 0%;
    margin-top: 5%;
    min-height: 50vh;
}
.section_conteudo{
    text-align: justify;
}
.section_conteudo h2{
    text-indent: 2em;
    font-size: 2vw;;
}
.section_conteudo p{
    margin-top: 2%;
    text-indent: 2em;
    font-size: 1.5vw;
}
iframe {
    margin: 0%;
    margin-top: 6%;
    padding: 0%;
    width: 40vw;
    height: 60vh;
}

/* FOOTER */

footer{
    color: white;
    background-color: #0c0c0c;
    width: 100%;
    padding: 0%;
    margin: 0%;
    font-size: 1vw;
    text-align: center;
    text-align: center;
    font-family: 'fonte_padrao_01';
}
footer a {
    display: inline;
    text-decoration: none;
    color: white;
}
.bxl-linkedin:visited {
    color: white;
}
.bxl-linkedin:hover {
    color: #0077B5;
}
.bxl-linkedin:active {
    color: #20516b;
}
.bxl-whatsapp:visited {
    color: white;
}
.bxl-whatsapp:hover {
    color: #25D366;
}
.bxl-whatsapp:active {
    color: #126532;
}
.bxl-gmail:visited {
    color: white;
}
.bxl-gmail:hover {
    color: #D44638;
}
.bxl-gmail:active {
    color: #811207;
}
.bxl-instagram:visited {
    color: white;
}
.bxl-instagram:hover {
    color: #fb4869;
}
.bxl-instagram:active {
    color: #822d3c;
}
.bxl-github:visited {
    color: white;
}
.bxl-github:hover {
    color: #a6a6a6;
}
.bxl-github:active {
    color: #2d2d2d;
}
footer h3 {
    font-size: 1.5vw;
}
footer {
    overflow: hidden;
    flex-shrink: 0;
}
#footer-link{
    padding-top: 2%;
}
#footer-link i{
    margin: 0%;
    font-size: 2vw
}
#footer-link a{
    margin: 0% 3.5%;
    padding: 0%;
}
#footer-copyright{
    margin-top: 3%;
    font-size: 0.9vw;
    color: #808080;
}
#footer-copyright p{
    margin: 0%;
}
#contato{
    margin-top: 1%;
}
#meu_copyright{
    padding-bottom: 2.5%;
}

/* BODY */

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
main {
    flex: 1 0 auto;
}

/* RESPONSIVIDADE */

@media (max-width: 639px) {
    .nav-brand{
    padding: 10%;
    }
    .navbar{
        display: grid;
        grid-template-columns: 7% 13% 80%;
    }
    #nav-title{
        padding: 0%;
        margin-left: 0%;
        margin-right: 25%;
        text-align: left;
    }
    .section_intro {
        height: 50vh;
        padding: auto;
        margin-top: 11%;
    }
    .section_intro{
        height: 70vh;
        padding: 0%;
    }
    .section_intro > article {
        width: 60%;
    }
    .section_conteudo {
        height: auto;
    }
    .section_conteudo h2 {
        font-size: auto;
    }
    .section_conteudo p {
        font-size: auto;
    }
    main > section{
        border-color:#949494;
        border-width: 1px;
        border-style: solid;
    }
    .section_intro{
        border-style: none;
    }
    .section_conteudo{
        border-style: none;
    }
    #link_curriculo{
        border-style: none;
    }
    footer {
        max-width: 100%;
        padding: 2% 5%;
        box-sizing: border-box;
    }
    #footer-link i {
        font-size: 6vw;
        flex-wrap: wrap;
    }
    footer h3 {
        font-size: 4vw;
    }
    body{
        overflow-x: auto;
    }
    #footer-link{
        display: flex;
        justify-content: space-around;
    }
    #contato{
        margin-bottom: 6%;
    }
    #meu_copyright{
        padding-top: 6%;
        padding-bottom: 2.5%;
        font-size: small;
    }
    #text_copyright{
        font-size: x-small;
    }
}

@media (min-width: 640px) and (max-width: 1024px){
    nav{
        font-size: x-large;
    }
    .navbar-nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #nav-title{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .section_intro > article {
        font-size: xxx-large;
    }
    .section_conteudo{
        padding-bottom: 150%;
    }
    .section_conteudo h2{
        font-size: xx-large;
    }
    .section_conteudo p{
        font-size: x-large;
    }
    footer {
        max-width: 100%;
        padding: 2% 5%;
        box-sizing: border-box;
    }
    #footer-link i {
        font-size: 6vw;
        flex-wrap: wrap;
    }
    footer h3 {
        font-size: 4vw;
    }
    body{
        overflow-x: auto;
    }
    #footer-link{
        display: flex;
        justify-content: space-around;
    }
    #contato{
        margin-bottom: 6%;
    }
    #meu_copyright{
        padding-top: 6%;
        padding-bottom: 2.5%;
        font-size: large;
    }
    #text_copyright{
        font-size: medium;
    }
}

/* ANIMAÇÃO (JS) */

@keyframes Animacao_Padrao {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-top {
  animation: Animacao_Padrao 2s ease-out; /* ease-out é para começar rápido e terminar devagar */ 
}