main{
    height: auto;
    margin-top: 0%;
    margin-bottom: 5%;
    padding: 3%;
    padding-bottom: 0%;
}
main > section {
    border-color:#949494;
    border-width: 1px;
    border-style: solid;
    background: linear-gradient(to bottom, #b0b0b0, #e1e1e1);
    text-align: center;
    padding: 1%;
    border-radius: 20px;
    margin: 0%;
    padding: 0%;
}
.projetos{
    display: grid;
}
.projetos h4 {
    margin: 0% 2%;
    padding: 1%;
    text-align: center;
    overflow-wrap: break-word;
    border-radius: 20px;
    font-size: 3vw;
}
.projetos  article {
    border-style: none;
    margin: 1% 2%;
    padding: 0%;
    text-align: justify;
    overflow-wrap: break-word;
    border-radius: 20px;
    font-size: 1.6vw;
}
.projetos img {
    margin: 5% auto 5% auto;
    padding: 0%;
    border-radius: 20px;
}
.projetos p{
  text-indent: 5%;
}
#i_2{
    padding: 5%;
    font-size: larger;
    color: #0c0c0c;
}
#i_2 p{
    font-family: fantasy;
    color: #0c0c0c;
}
.bxl-github:hover {
    color: #a6a6a6;
}
.bxl-github:active {
        color: #2d2d2d;
}
@media (max-width:690px){
  .projetos article{
    font-size: large;
  }
  main{
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    margin-top: 11%;
    margin-bottom: 5%;
    padding: 3%;
    row-gap: 3%;
    column-gap: 3%;
    padding-bottom: 20%;
  }
  main > section {
    margin-top: 5%;
  }
}