<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Links Externos -->
        <link rel="stylesheet" href="css_projeto/normalize.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="css_projeto/style.css">
        <link rel="stylesheet" href="css_projeto/fonte.css">
    <title>API 1º Semestre (Fatec) - Logística</title>
</head>
<body>
    <main>
        <section class="projetos">
            <header><h1><strong>API 1º Semestre (Fatec) - Logística</strong></h1></header>
            <img src="css_projeto/imagens_projeto/projeto_api_01.gif" alt="Projeto" style="width: 80%; height: 35vh;">
            <article><strong>Empresa parceira:</strong> <br> <p>Fatec (faculdade). </p><br>
                <strong>Sobre:</strong> <br> <p>Trabalho de desenvolvimento web voltado para o âmbito de logística com cliente interno da Fatec, com o objetivo de testar os conhecimentos em API utilizando Scrum e desenvolver um site para análises gerais de importações e exportações de produtos do estado de SP com base no valor agregado, anos, relações exteriores, dentre outros. </p><br>
                <strong>Contribuições Pessoais:</strong> <br> <p>Auxiliei os integrantes no processo de pesquisa, atuei como Scrum Master, prezando agilidade nas entregas e removendo obstáculos internos da equipe. Realizei a criação de gráficos em python no Colab, desenvolvi os slides da apresentação, parcialmente HTML e CSS, organização das plataformas GitHub e Jira. </p><br>            
                <strong>Hard Skills:</strong> <br> <p>Atuei como Scrum Master e Dev. Team, alternando no decorrer das etapas (Sprints), desenvolvendo um espírito de liderança e aprendizado com foco na realização das tarefas. </p><br>
                <strong>Soft Skills:</strong> <br> <p>Proatividade, liderança, adaptação e comunicação. </p><br>            
                <strong>Tecnologias utilizadas:</strong> <br> <p><i class="bx bxl-github"></i> GitHub - <i class="bx bxl-figma"></i> Figma - <i class="bx bxl-visual-studio"></i> VS Code - <i class="bx bxl-html5"></i> HTML - <i class="bx bxl-css3"></i> CSS - <i class="bx bxl-python"></i> Python - <i class="bx bxl-flask"></i> Flask - Google Colab - Jira - <i class="bx bxl-git"></i> Git.</p>
            </article>
            <a href="https://github.com/arthur-oliver/API-Crows" target="_blank" title="Projeto"><i class="bx bxl-github"  id="i_2"><p> GitHub</p></i></a>
        </section>  
    </main>
</body>
</html>