<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Links Externos -->
        <link rel="stylesheet" href="css_projeto/normalize.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="css_projeto/style.css">
        <link rel="stylesheet" href="css_projeto/fonte.css">
    <title>API 1º Semestre (Fatec) - Logística</title>
</head>
<body>
    <main>
        <section class="projetos">
            <header><h1><strong>TCC (TI) "PACKUP" - Gerenciamento de Estoque Mobile</strong></h1></header>
            <img src="css_projeto/imagens_projeto/projeto_packup_01.gif" alt="Projeto" style="width: 80%; height: 35vh;">
              <article><strong>Instituição parceira:</strong> <br> <p>Instituto IDEIA (Técnico). </p><br>
                <strong>Sobre:</strong> <br> <p>Trabalho de desenvolvimento mobile (celular) voltado para o âmbito de controle de estoque, que visa auxiliar no processo de gestão de empresas independente da área de atuação. O projeto foi desenvolvido para o TCC do Técnico em Informática e com o objetivo de aplicar conhecimentos gerais do curso de forma integrada. </p><br>
                <strong>Contribuições Pessoais:</strong> <br> <p>Participei de todas as etapas do processo, desde a idealização e desenvolvimento do protótipo até o backend (programação de funcionalidades gerais, incluindo banco de dados, validações e cálculos) e frontend (interface do usuário - design em geral), até a documentação escrita do aplicativo (caderno). Minnha função, além de programador, também foi controlar as entregas e administrar a equipe. </p><br>
                <strong>Hard Skills:</strong> <br> <p>Atuei como progrmador utilizando as tecnologias listadas abaixo, design, gestão da equipe e apto para atuação como técnico em informática. </p><br>
                <strong>Soft Skills:</strong> <br><p>Proatividade, liderança, adaptação, comunicação, resiliência, criatividade (design) e organização. </p><br>
                <strong>Tecnologias utilizadas:</strong> <br> <p><i class="bx bxl-google"></i> Google  Drive - <i class="bx bxl-firebase"></i> Firebase (Cloud Firestore) - <i class="bx bxl-microsoft"></i> Microsoft Offfice (Word e Power Point) - <i class="bx bxl-visual-studio"></i> VS Code - <i class="bx bxl-html5"></i> HTML - <i class="bx bxl-css3"></i> CSS - <i class="bx bxl-flutter"></i> Flutter - <i class="bx bxl-nodejs"></i> Node - <i class="bx bxl-android"></i> Android Studio - Dart.</p>
              </article>
              <a href="https://github.com/arthur-oliver/tcc-ti.git" target="_blank" title="Projeto"><i class="bx bxl-github"  id="i_2"><p> GitHub</p></i></a>
        </section>
    </main>

</body>
</html>